*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*PRIMARY COLORS*/
    --Orange300-work: hsl(15, 100%, 70%);
    --Blue300-play: hsl(195, 74%, 62%);
    --Pink400-study: hsl(348, 100%, 68%);
    --Green400-exercise: hsl(145, 58%, 55%);
    --Purple700-social: hsl(264, 64%, 52%);
    --Yellow300-selfcare: hsl(43, 84%, 65%);

    /*NEUTRAL COLORS*/
    --Navy950: hsl(226, 43%, 10%);
    --Navy900: hsl(235, 46%, 20%);
    --Purple500: hsl(235, 45%, 61%);
    --Navy200: hsl(236, 100%, 87%);
}

body{
    background-color:var(--Navy950) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    min-height: 100vh;
}

.container{
    max-width: 320px;
    width: 100%;
}

.header-card{
    background-color: var(--Purple500);
    border-radius: 20px;
    display: flex ;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    gap: 15px;
}

.profile-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text{
    color: white;
}

.report-label{
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 2px;
}

.user-name{
    font-size: 20px;
    font-weight: 600;
}

.tabs{
    background: var(--Navy900) ;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.tab{
    flex: 1;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.activity-card{
    background-color: red;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: visible;
    position: relative;

}

.card-header{
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}


.card-header::before{
    content: '';
    position: absolute;
    top :0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    opacity: 0.15;
}

.work .card-header{
    background: #ff8a65 ;
}

.work .card-header::before{
    background: #ff6f4a;
    top: -20px;
    right: -20px;
}

.play .card-header{
    background:var(--Blue300-play);
}

.play .card-header::before{
    background: var(--Blue300-play);
    top: -20px;
    right: -20px;
}

.study .card-header{
    background:var(--Pink400-study);
}

.study .card-header::before{
    background: var(--Pink400-study);
    top: -20px;
    right: -20px;
}

.exercise .card-header{
    background:var(--Green400-exercise);
}

.exercise .card-header::before{
    background: var(--Green400-exercise);
    top: -20px;
    right: -20px;
}

.social .card-header{
    background:var(--Purple700-social);
}

.social .card-header::before{
    background: var(--Purple700-social);
    top: -20px;
    right: -20px;
}


.self-care .card-header{
    background:var(--Yellow300-selfcare);
}

.self-care .card-header::before{
    background: var(--Yellow300-selfcare);
    top: -20px;
    right: -20px;
}

.card-content{
    border-radius: 35px 35px 0 0;
    padding: 20px;
    position: relative;
    z-index: 1;
    background: wheat;

}

.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.activity-name{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.menu-dots{
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
}

.hours{
    color: white;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 8px;
}

.previous{
    color: white;
    font-size: 13px;
}